*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background: white;
}

.fill {
    background-image: url('https://images.unsplash.com/photo-1704138160435-bc0848d02813?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=150&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcxMTg4NDA0Mw&ixlib=rb-4.0.3&q=80&w=150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold{
    border: solid 5px #ccc;
}

.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
}