@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgb(168, 3, 233);
    background: linear-gradient(
        0deg,
        rgb(117, 2, 224) 50%,
        rgba(216, 242, 247, 1) 50%
    );
}

ul {
    display: flex;
    padding: 20px;
    border-radius: 5px;
    list-style-type: none;
    gap: 10px;
    background-color: gray;
}

ul a {
color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}
