@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

:root {
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
  --body-color: #3494e4;
  --light-color: #fff,
}

* {
    padding: 0;
    margin: 0;
  box-sizing: border-box;
}

body{
    background-color: var(--body-color);
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

h1{
    margin: 10px 0 0;
}

h3{
    font-weight: 400;
    margin-top: 0 0;
}

.cup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 600px;
    background-color: var(--light-color);
}
