@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

:root {
    --border-color: #144fc6;
    --fill-color: #6ab3f8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
